apiVersion: v2
name: lightbridge-authz
description: This chart deploys the core Lightbridge authorization service, which is responsible for handling all the authorization requests. It includes an init container that generates the necessary configuration from a template and secrets, and the main container runs the authorization service itself, which exposes both a REST and a gRPC interface. This service is responsible for validating the incoming requests against the policies defined in the lightbridge-config chart and for providing the authorization decisions to the service mesh or API gateway.

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "1.16.0"

dependencies:
  - name: common
    version: "*"
    repository: https://charts.bitnami.com/bitnami
  - name: app-template
    version: "*"
    repository: https://bjw-s-labs.github.io/helm-charts


