
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/franck-sorel/lightbridge-authz
          tag: latest
        env:
          DATABASE_URL:
            secret:
              name: lightbridge-authz-prod-secrets
              key: DATABASE_URL
          JWKS_URL:
            secret:
              name: lightbridge-authz-prod-secrets
              key: JWKS_URL
        probes:
          liveness:
            enabled: true
            spec:
              httpGet:
                path: /health
                port: 80
          readiness:
            enabled: true
            spec:
              httpGet:
                path: /health
                port: 80
          startup:
            enabled: true
            spec:
              httpGet:
                path: /health
                port: 80

service:
  main:
    ports:
      http:
        port: 80
