{{- range $tls_name, $tls_value := .Values.tlsPolicies }}
{{ with $tls_value }}
{{ if .enabled }}
apiVersion: gateway.networking.k8s.io/v1alpha3
kind: BackendTLSPolicy
metadata:
  name: {{ $tls_name }}-tls
  namespace: {{ include "common.names.namespace" $ }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
spec:
  targetRefs:
    {{- range $p_name, $p_value := .providers }}
    {{- if $p_value }}
    - group: 'gateway.envoyproxy.io'
      kind: Backend
      name: {{ $p_name }}
    {{- end }}
    {{- end }}
  validation:
    {{ include "common.tplvalues.render" ( dict "value" .validation "context" $ ) | nindent 4 }}
---
{{ end }}
{{ end -}}
{{ end -}}
