apiVersion: v2
name: lightbridge-config
description: This chart is responsible for managing the configuration of the Lightbridge authorization system, including all the necessary networking and security policies. It defines the different authorization policies, such as rate limits, access tiers, and supported models, and it also configures the connection to the different AI providers like OpenAI and Google. The templates in this chart are used to create and manage the various custom resources needed by the service mesh or API gateway to enforce the defined policies.

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "1.16.0"

dependencies:
  - name: common
    version: "*"
    repository: https://charts.bitnami.com/bitnami
