gatewayRef:
  name: ai-gateway

rateLimitPolicy:
  enabled: true
  labels: {}
  annotations: {}

  descriptors:
    - key: user
      source: header
      headerName: x-user-id   # identifies the user
    - key: model
      source: header
      headerName: x-model     # identifies the model

  defaults:
    limits:
      default:
        rates:
          - limit: 100
            window: 1m

backendTrafficPolicy:
  enabled: true
  name: backend-retry-policy
  labels: {}
  annotations: {}
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: ai-gateway
  retry:
    numRetries: 3
    perRetry:
      backOff:
        baseInterval: 100ms
        maxInterval: 10s
      timeout: 30s
    retryOn:
      httpStatusCodes:
        - 500
        - 502
        - 503
        - 504
        - 404
      triggers:
        - connect-failure
        - retriable-status-codes

backends:
  fw-01:
    resourceName: fw-backend-01-svc
    schema: OpenAI
    prefix: /inference/v1
    fqdn:
      hostname: api.fireworks.ai
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: fireworks-api-key-01
    tlsHostname: api.fireworks.ai
  fw-02:
    resourceName: fw-backend-02-svc
    schema: OpenAI
    prefix: /inference/v1
    fqdn:
      hostname: api.fireworks.ai
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: fireworks-api-key-02
    tlsHostname: api.fireworks.ai
  gpt-01:
    resourceName: gpt-backend-01-svc
    schema: OpenAI
    fqdn:
      hostname: api.ai.kivoyo.com
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: openai-api-key-01
    tlsHostname: api.ai.kivoyo.com
  gpt-02:
    resourceName: gpt-backend-02-svc
    schema: OpenAI
    fqdn:
      hostname: api.ai.kivoyo.com
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: openai-api-key-02
    tlsHostname: api.ai.kivoyo.com
  gcp-01:
    resourceName: gcp-backend-01-svc
    schema: GCPVertexAI
    fqdn:
      hostname: us-central1-aiplatform.googleapis.com
      port: 443
    type: GCPCredentials
    gcpCredentials:
      projectName: kivoyo
      region: us-central1
      credentialsFile:
        secretRef:
          name: gcp-service-account-key-01
    tlsHostname: us-central1-aiplatform.googleapis.com
  gcp-02:
    resourceName: gcp-backend-02-svc
    schema: GCPVertexAI
    fqdn:
      hostname: us-central1-aiplatform.googleapis.com
      port: 443
    type: GCPCredentials
    gcpCredentials:
      projectName: kivoyo
      region: us-central1
      credentialsFile:
        secretRef:
          name: gcp-service-account-key-02
    tlsHostname: us-central1-aiplatform.googleapis.com

models:
  fireworks-thinking:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 3
              window: 1m

    backends:
      aws-01:
        enabled: true
        ref: fw-01
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-30b-a3b-thinking"
        priority: 0
      aws-02:
        enabled: true
        ref: fw-02
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-30b-a3b-thinking"
        priority: 1

  fireworks-instruct:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 3
              window: 1m

    backends:
      aws-01:
        enabled: true
        ref: fw-01
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-235b-a22b-instruct"
        priority: 0
      aws-02:
        enabled: true
        ref: fw-02
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-235b-a22b-instruct"
        priority: 1

  gpt-5:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 5
              window: 1m
        
    backends:
      aws-01:
        enabled: true
        ref: gpt-01
        modelNameOverride: "gpt-5"
        priority: 0
      aws-02:
        enabled: true
        ref: gpt-02
        modelNameOverride: "gpt-5"
        priority: 1
  
  gpt-04:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 5
              window: 1m
        
    backends:
      aws-01:
        enabled: true
        ref: gpt-01
        modelNameOverride: "gpt-4o-mini"
        priority: 0
      aws-02:
        enabled: true
        ref: gpt-02
        modelNameOverride: "gpt-4o-mini"
        priority: 1

  gemini-flash:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 3
              window: 1m

    backends:
      gcp-01:
        enabled: true
        ref: gcp-01
        modelNameOverride: "gemini-2.5-flash"
        priority: 0
      gcp-02:
        enabled: true
        ref: gcp-02
        modelNameOverride: "gemini-2.5-flash"
        priority: 1

  gemini-pro:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 3
              window: 1m

    backends:
      gcp-01:
        enabled: true
        ref: gcp-01
        modelNameOverride: "gemini-2.5-pro"
        priority: 0
      gcp-02:
        enabled: true
        ref: gcp-02
        modelNameOverride: "gemini-2.5-pro"
        priority: 1


