gatewayRef:
  name: ai-gateway

rateLimitPolicy:
  enabled: true
  labels: {}
  annotations: {}

  descriptors:
    - key: user
      source: header
      headerName: x-user-id   # identifies the user
    - key: model
      source: header
      headerName: x-model     # identifies the model

  defaults:
    limits:
      default:
        rates:
          - limit: 100
            window: 1m

backends:
  fw-01:
    resourceName: fw-backend-01-svc
    schema: OpenAI
    prefix: /inference/v1
    fqdn:
      hostname: api.fireworks.ai
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: litellm-fireworks-key
    tlsHostname: api.fireworks.ai
  fw-02:
    resourceName: fw-backend-02-svc
    schema: OpenAI
    prefix: /inference/v1
    fqdn:
      hostname: api.fireworks.ai
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: litellm-fireworks-key
    tlsHostname: api.fireworks.ai
  gpt-01:
    resourceName: gpt-01-svc
    schema: OpenAI
    fqdn:
      hostname: api.ai.kivoyo.com
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: litellm-openai-api-key
    tlsHostname: api.ai.kivoyo.com
  gpt-02:
    resourceName: gpt-02-svc
    schema: OpenAI
    fqdn:
      hostname: api.ai.kivoyo.com
      port: 443
    securityType: APIKey
    useEnvVars: true
    envSecretRef:
      name: litellm-openai-api-key
    tlsHostname: api.ai.kivoyo.com
  gcp-01:
    resourceName: gcp-01-svc
    schema: GCPVertexAI
    fqdn:
      hostname: us-central1-aiplatform.googleapis.com
      port: 443
    type: GCPCredentials
    gcpCredentials:
      projectName: kivoyo
      region: us-central1
      credentialsFile:
        secretRef:
          name: litellm-gcp-service-account-key
    tlsHostname: us-central1-aiplatform.googleapis.com
  gcp-02:
    resourceName: gcp-02-svc
    schema: GCPVertexAI
    fqdn:
      hostname: us-central1-aiplatform.googleapis.com
      port: 443
    type: GCPCredentials
    gcpCredentials:
      projectName: kivoyo
      region: us-central1
      credentialsFile:
        secretRef:
          name: litellm-gcp-service-account-key
    tlsHostname: us-central1-aiplatform.googleapis.com

models:
  fireworks:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 3
              window: 1m

    backends:
      aws-01:
        enabled: true
        ref: fw-01
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-235b-a22b-instruct"
      aws-02:
        enabled: true
        ref: fw-02
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-30b-a3b-thinking"

  gpt:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 3
              window: 1m

    backends:
      aws-01:
        enabled: true
        ref: gpt-01
        modelNameOverride: "gpt-5"
      aws-02:
        enabled: true
        ref: gpt-02
        modelNameOverride: "gpt-5-mini"

  gemini:
    enabled: true

    rateLimit:
      scope:
        - user
        - model

      limits:
        default:
          rates:
            - limit: 3
              window: 1m

    backends:
      gcp-01:
        enabled: true
        ref: gcp-01
        modelNameOverride: "gemini-2.5-flash"
      gcp-02:
        enabled: true
        ref: gcp-02
        modelNameOverride: "gemini-2.5-pro"
