gatewayRef:
  name: ai-gateway

rateLimitPolicy:
  enabled: true
  labels: {}
  annotations: {}
  defaults:
    limits:
      default:
        rates:
          - limit: 100
            window: 1m

backends:
  gcp-primary:
    resourceName: gcp-backend-svc
    schema: OpenAI
    fqdn:
      hostname: api.ai.kivoyo.com
      port: 443
    apiKeySecretRef:
      name: gcp-backend-apikey-secret
      key: apiKey
    tlsHostname: api.ai.kivoyo.com
  fw-primary:
    resourceName: fw-backend-svc
    schema: OpenAI
    prefix: /inference/v1
    fqdn:
      hostname: api.fireworks.ai
      port: 443
    apiKeySecretRef:
      name: fw-primary-apikey
      key: apiKey
    tlsHostname: api.fireworks.ai
  fallback-node:
    resourceName: global-fallback-svc
    schema: OpenAI
    fqdn:
      hostname: api.ai.kivoyo.com
      port: 443
    apiKeySecretRef:
      name: gcp-primary-apikey
      key: apiKey
    tlsHostname: api.ai.kivoyo.com

models:
  gemini-2-0-lite:
    enabled: true
    modelMatch: "gemini-2.0-lite"
    rateLimit:
      limits:
        gemini-limit:
          rates:
            - limit: 50
              window: 1m
    backends:
      gcp-01: 
        enabled: true
        ref: gcp-primary
        modelNameOverride: "gpt-5"
        priority: 0
        weight: 50
      gcp-02: 
        enabled: true
        ref: gcp-primary
        modelNameOverride: "gpt-5-mini"
        priority: 0
        weight: 50
      aws-failover:
        enabled: false
        ref: fw-primary
        priority: 1

  claude-sonnet:
    enabled: true
    backends:
      aws-01:
        enabled: true
        ref: fw-primary
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-235b-a22b-instruct"
      aws-02:
        enabled: true
        ref: fw-primary
        modelNameOverride: "accounts/fireworks/models/qwen3-vl-30b-a3b-thinking"
