gatewayRef:
  name: ai-gateway

envoyRateLimit: {}

backendTrafficPolicy:
  name: backend-retry-policy
  labels: {}
  annotations: {}
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: ai-gateway
  retry:
    numRetries: 3
    perRetry:
      backOff:
        baseInterval: 100ms
        maxInterval: 10s
      timeout: 30s
    retryOn:
      httpStatusCodes:
        - 500
        - 502
        - 503
        - 504
        - 404
      triggers:
        - connect-failure
        - retriable-status-codes

backendDefaults:
  fireworks: &fireworksBackend
    schema: OpenAI
    prefix: /inference/v1
    fqdn:
      hostname: api.fireworks.ai
      port: 443
    securityType: APIKey
    tlsHostname: api.fireworks.ai
  openai: &openaiBackend
    schema: OpenAI
    fqdn:
      hostname: api.openai.com
      port: 443
    securityType: APIKey
    tlsHostname: api.openai.com
  vertexAi: &vertexAiBackend
    schema: GCPVertexAI
    fqdn:
      hostname: us-central1-aiplatform.googleapis.com
      port: 443
    type: GCPCredentials
    gcpCredentials: &vertexAiCredentials
      projectName: kivoyo
      region: us-central1
    tlsHostname: us-central1-aiplatform.googleapis.com
  googleAiStudio: &googleAiStudioBackend
    schema: OpenAI
    prefix: v1beta/openai
    fqdn:
      hostname: generativelanguage.googleapis.com
      port: 443
    securityType: APIKey
    tlsHostname: generativelanguage.googleapis.com

rateLimitDefaults:
  request50kPerMinute: &rlRequest50kPerMin
    requests: 50000
    unit: Minute
  request10kPerMinute: &rlRequest10kPerMin
    requests: 10000
    unit: Minute
  request30PerMinute: &rlRequest30PerMin
    requests: 30
    unit: Minute
  token1500k_35m_420m: &tl1500_35m_420m
    - unit: Day
      tokens: 1500000
    - unit: Month
      tokens: 35000000
    - unit: Year
      tokens: 420000000
  token800k_15m_180m: &tl800_15m_180m
    - unit: Day
      tokens: 800000
    - unit: Month
      tokens: 15000000
    - unit: Year
      tokens: 180000000
  token1000k_20m_240m: &tl1000_20m_240m
    - unit: Day
      tokens: 1000000
    - unit: Month
      tokens: 20000000
    - unit: Year
      tokens: 240000000
  token3000k_80m_960m: &tl3000_80m_960m
    - unit: Day
      tokens: 3000000
    - unit: Month
      tokens: 80000000
    - unit: Year
      tokens: 960000000
  token2000k_45m_540m: &tl2000_45m_540m
    - unit: Day
      tokens: 2000000
    - unit: Month
      tokens: 45000000
    - unit: Year
      tokens: 540000000
  token10m_300m_3600m: &tl10m_300m_3600m
    - unit: Day
      tokens: 10000000
    - unit: Month
      tokens: 300000000
    - unit: Year
      tokens: 3600000000
  token500k_12m_144m: &tl500_12m_144m
    - unit: Day
      tokens: 500000
    - unit: Month
      tokens: 12000000
    - unit: Year
      tokens: 144000000

modelDefaults:
  backendRefs:
    fwPrimary: &fwBackendPrimary
      ref: fw-01
      priority: 0
    fwSecondary: &fwBackendSecondary
      ref: fw-02
      priority: 1
    openaiPrimary: &openaiBackendPrimary
      ref: openai-01
      priority: 0
    openaiSecondary: &openaiBackendSecondary
      ref: openai-02
      priority: 1
    vertexPrimary: &vertexBackendPrimary
      ref: vertex-ai-01
      priority: 0
    vertexSecondary: &vertexBackendSecondary
      ref: vertex-ai-02
      priority: 1
    googleAiStudioPrimary: &googleAiStudioBackendPrimary
      ref: google-ai-studio-01
      priority: 0
    googleAiStudioSecondary: &googleAiStudioBackendSecondary
      ref: google-ai-studio-02
      priority: 1
  rateLimits:
    fireworks: &fireworksModelRateLimits
      envoyRateLimit: *rlRequest50kPerMin
    openai: &openaiModelRateLimits
      envoyRateLimit: *rlRequest50kPerMin
    openaiLow: &openaiLowModelRateLimits
      envoyRateLimit: *rlRequest30PerMin
    openaiEmbed: &openaiEmbedModelRateLimits
      envoyRateLimit: *rlRequest10kPerMin
    gemini: &geminiModelRateLimits
      envoyRateLimit: *rlRequest50kPerMin

backends:
  fw-01:
    <<: *fireworksBackend
    secretRef:
      name: fireworks-api-key-01
    resourceName: fw-backend-01-svc
  fw-02:
    <<: *fireworksBackend
    resourceName: fw-backend-02-svc
    secretRef:
      name: fireworks-api-key-02
  openai-01:
    <<: *openaiBackend
    resourceName: openai-backend-01-svc
    secretRef:
      name: openai-api-key-01
  openai-02:
    <<: *openaiBackend
    resourceName: openai-backend-02-svc
    secretRef:
      name: openai-api-key-02
  vertex-ai-01:
    <<: *vertexAiBackend
    resourceName: vertex-ai-backend-01-svc
    gcpCredentials:
      <<: *vertexAiCredentials
      credentialsFile:
        secretRef:
          name: gcp-service-account-key-01
  vertex-ai-02:
    <<: *vertexAiBackend
    resourceName: vertex-ai-backend-02-svc
    gcpCredentials:
      <<: *vertexAiCredentials
      credentialsFile:
        secretRef:
          name: gcp-service-account-key-02
  google-ai-studio-01:
    <<: *googleAiStudioBackend
    resourceName: google-ai-studio-backend-01-svc
    secretRef:
      name: google-ai-studio-api-key-01
  google-ai-studio-02:
    <<: *googleAiStudioBackend
    resourceName: google-ai-studio-backend-02-svc
    secretRef:
      name: google-ai-studio-api-key-02

models:
  # Fireworks AI Models
  # qwen3-coder-480b-a35b-instruct:
  #   <<: *fireworksModelRateLimits
  #   backends:
  #     fw-01:
  #       <<: *fwBackendPrimary
  #       modelNameOverride: "accounts/fireworks/models/qwen3-coder-480b-a35b-instruct"
  #     fw-02:
  #       <<: *fwBackendSecondary
  #       modelNameOverride: "accounts/fireworks/models/qwen3-coder-480b-a35b-instruct"

  kimi-k2-instruct-0905:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1500_35m_420m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/kimi-k2-instruct-0905"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/kimi-k2-instruct-0905"

  kimi-k2-thinking:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl800_15m_180m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/kimi-k2-thinking"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/kimi-k2-thinking"

  deepseek-v3p1:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1500_35m_420m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/deepseek-v3p1"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/deepseek-v3p1"

  qwen3-235b-a22b-instruct-2507:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1000_20m_240m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/qwen3-235b-a22b-instruct-2507"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/qwen3-235b-a22b-instruct-2507"

  # llama4-maverick-instruct-basic:
  #   <<: *fireworksModelRateLimits
  #   backends:
  #     fw-01:
  #       <<: *fwBackendPrimary
  #       modelNameOverride: "accounts/fireworks/models/llama4-maverick-instruct-basic" 
  #     fw-02:
  #       <<: *fwBackendSecondary
  #       modelNameOverride: "accounts/fireworks/models/llama4-maverick-instruct-basic"

  # llama-v3p1-8b-instruct:
  #   <<: *fireworksModelRateLimits
  #   backends:
  #     fw-01:
  #       <<: *fwBackendPrimary
  #       modelNameOverride: "accounts/fireworks/models/llama-v3p1-8b-instruct"
  #     fw-02:
  #       <<: *fwBackendSecondary
  #       modelNameOverride: "accounts/fireworks/models/llama-v3p1-8b-instruct"

  gpt-oss-120b:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1000_20m_240m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/gpt-oss-120b"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/gpt-oss-120b"

  gpt-oss-20b:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1500_35m_420m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/gpt-oss-20b"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/gpt-oss-20b"

  qwen3-235b-a22b-thinking-2507:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl800_15m_180m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/qwen3-235b-a22b-thinking-2507"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/qwen3-235b-a22b-thinking-2507"

  qwen3-coder-30b-a3b-instruct:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl2000_45m_540m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/qwen3-coder-30b-a3b-instruct"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/qwen3-coder-30b-a3b-instruct"

  qwen3-235b-a22b:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1000_20m_240m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/qwen3-235b-a22b"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/qwen3-235b-a22b"

  glm-4p6:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1500_35m_420m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/glm-4p6"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/glm-4p6"

  # glm-4p5:
  #   <<: *fireworksModelRateLimits
  #   backends:
  #     fw-01:
  #       <<: *fwBackendPrimary
  #       modelNameOverride: "accounts/fireworks/models/glm-4p5"
  #     fw-02:
  #       <<: *fwBackendSecondary
  #       modelNameOverride: "accounts/fireworks/models/glm-4p5"

  deepseek-v3p1-terminus:
    <<: *fireworksModelRateLimits
    envoyTokenRateLimits: *tl1500_35m_420m
    backends:
      fw-01:
        <<: *fwBackendPrimary
        modelNameOverride: "accounts/fireworks/models/deepseek-v3p1-terminus"
      fw-02:
        <<: *fwBackendSecondary
        modelNameOverride: "accounts/fireworks/models/deepseek-v3p1-terminus"

  # OpenAI Models
  o4-mini:
    <<: *openaiModelRateLimits
    envoyTokenRateLimits: *tl3000_80m_960m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "o4-mini"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "o4-mini"

  # o4-mini-deep-research:
  #   <<: *openaiModelRateLimits
  #   backends:
  #     openai-01:
  #       <<: *openaiBackendPrimary
  #       modelNameOverride: "o4-mini-deep-research"
  #     openai-02:
  #       <<: *openaiBackendSecondary
  #       modelNameOverride: "o4-mini-deep-research"

  gpt-4-1:
    <<: *openaiLowModelRateLimits
    envoyTokenRateLimits: *tl1500_35m_420m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "gpt-4.1"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "gpt-4.1"

  gpt-4-1-mini:
    <<: *openaiModelRateLimits
    envoyTokenRateLimits: *tl3000_80m_960m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "gpt-4.1-mini"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "gpt-4.1-mini"

  gpt-5:
    <<: *openaiModelRateLimits
    envoyTokenRateLimits: *tl1000_20m_240m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "gpt-5"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "gpt-5"

  gpt-5-mini:
    <<: *openaiModelRateLimits
    envoyTokenRateLimits: *tl3000_80m_960m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "gpt-5-mini"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "gpt-5-mini"

  gpt-5-nano:
    <<: *openaiModelRateLimits
    envoyTokenRateLimits: *tl3000_80m_960m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "gpt-5-nano"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "gpt-5-nano"

  # codex-mini-latest:
  #   <<: *openaiModelRateLimits
  #   backends:
  #     openai-01:
  #       <<: *openaiBackendPrimary
  #       modelNameOverride: "codex-mini-latest"
  #     openai-02:
  #       <<: *openaiBackendSecondary
  #       modelNameOverride: "codex-mini-latest"

  text-embedding-3-large:
    <<: *openaiEmbedModelRateLimits
    envoyTokenRateLimits: *tl10m_300m_3600m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "text-embedding-3-large"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "text-embedding-3-large"

  dall-e-3:
    <<: *openaiModelRateLimits
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "dall-e-3"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "dall-e-3"

  gpt-image-1:
    <<: *openaiModelRateLimits
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "gpt-image-1"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "gpt-image-1"

  # whisper-1:
  #   <<: *openaiEmbedModelRateLimits
  #   backends:
  #     openai-01:
  #       <<: *openaiBackendPrimary
  #       modelNameOverride: "whisper-1"
  #     openai-02:
  #       <<: *openaiBackendSecondary
  #       modelNameOverride: "whisper-1"

  gpt-4o-mini-audio: 
    <<: *openaiEmbedModelRateLimits
    envoyTokenRateLimits: *tl500_12m_144m
    backends:
      openai-01:
        <<: *openaiBackendPrimary
        modelNameOverride: "gpt-4o-mini-audio-preview-2024-12-17"
      openai-02:
        <<: *openaiBackendSecondary
        modelNameOverride: "gpt-4o-mini-audio-preview-2024-12-17"

  # gpt-4o-transcribe:
  #   <<: *openaiEmbedModelRateLimits
  #   backends:
  #     openai-01:
  #       <<: *openaiBackendPrimary
  #       modelNameOverride: "gpt-4o-transcribe"
  #     openai-02:
  #       <<: *openaiBackendSecondary
  #       modelNameOverride: "gpt-4o-transcribe"

  # gpt-4o-mini-tts:
  #   <<: *openaiEmbedModelRateLimits
  #   backends:
  #     openai-01:
  #       <<: *openaiBackendPrimary
  #       modelNameOverride: "gpt-4o-mini-tts"
  #     openai-02:
  #       <<: *openaiBackendSecondary
  #       modelNameOverride: "gpt-4o-mini-tts"

  # Google Gemini Models
  gemini-2-5-flash:
    <<: *geminiModelRateLimits
    envoyTokenRateLimits: *tl3000_80m_960m
    backends:
      vertex-ai-01:
        <<: *vertexBackendPrimary
        modelNameOverride: "gemini-2.5-flash"
      vertex-ai-02:
        <<: *vertexBackendSecondary
        modelNameOverride: "gemini-2.5-flash"

  gemini-2-5-pro-reasoning:
    <<: *geminiModelRateLimits
    envoyTokenRateLimits: *tl1000_20m_240m
    backends:
      vertex-ai-01:
        <<: *vertexBackendPrimary
        modelNameOverride: "gemini-2.5-pro"
      vertex-ai-02:
        <<: *vertexBackendSecondary
        modelNameOverride: "gemini-2.5-pro"

  gemini-2-5-pro-reasoning-1024:
    <<: *geminiModelRateLimits
    envoyTokenRateLimits: *tl1000_20m_240m
    backends:
      vertex-ai-01:
        <<: *vertexBackendPrimary
        modelNameOverride: "gemini-2.5-pro"
      vertex-ai-02:
        <<: *vertexBackendSecondary
        modelNameOverride: "gemini-2.5-pro"

  gemini-3-pro-image-preview:
    <<: *geminiModelRateLimits
    backends:
      vertex-ai-01:
        <<: *vertexBackendPrimary
        modelNameOverride: "gemini-3-pro-image-preview"
      vertex-ai-02:
        <<: *vertexBackendSecondary
        modelNameOverride: "gemini-3-pro-image-preview"

  gemini-2-5-flash-lite:
    <<: *geminiModelRateLimits
    envoyTokenRateLimits: *tl3000_80m_960m
    backends:
      vertex-ai-01:
        <<: *vertexBackendPrimary
        modelNameOverride: "gemini-2.5-flash-lite"
      vertex-ai-02:
        <<: *vertexBackendSecondary
        modelNameOverride: "gemini-2.5-flash-lite"

  gemini-3-pro:
    <<: *geminiModelRateLimits
    envoyTokenRateLimits: *tl1000_20m_240m
    backends:
      google-ai-studio-01:
        <<: *googleAiStudioBackendPrimary
        modelNameOverride: "gemini-3-pro-preview"
      google-ai-studio-02:
        <<: *googleAiStudioBackendSecondary
        modelNameOverride: "gemini-3-pro-preview"

  gemini-3-flash:
    <<: *geminiModelRateLimits
    envoyTokenRateLimits: *tl3000_80m_960m
    backends:
      google-ai-studio-01:
        <<: *googleAiStudioBackendPrimary
        modelNameOverride: "gemini-3-flash-preview"
      google-ai-studio-02:
        <<: *googleAiStudioBackendSecondary
        modelNameOverride: "gemini-3-flash-preview"

  gemini-3-flash-thinking:
    <<: *geminiModelRateLimits
    envoyTokenRateLimits: *tl800_15m_180m
    backends:
      google-ai-studio-01:
        <<: *googleAiStudioBackendPrimary
        modelNameOverride: "gemini-3-flash-preview"
      google-ai-studio-02:
        <<: *googleAiStudioBackendSecondary
        modelNameOverride: "gemini-3-flash-preview"
