{{- range $backendName, $backendConfig := .Values.backends }}
---
apiVersion: aigateway.envoyproxy.io/v1alpha1
kind: BackendSecurityPolicy
metadata:
  name: {{ $backendName }}-security
spec:
  targetRefs:
    - group: aigateway.envoyproxy.io
      kind: AIServiceBackend
      name: {{ $backendConfig.resourceName }}
  {{- if eq $backendConfig.type "GCPCredentials" }}
  type: GCPCredentials
  gcpCredentials:
    projectName: {{ $backendConfig.gcpCredentials.projectName }}
    region: {{ $backendConfig.gcpCredentials.region }}
    credentialsFile:
      secretRef:
        name: {{ $backendConfig.gcpCredentials.credentialsFile.secretRef.name }}
        {{- if $backendConfig.gcpCredentials.credentialsFile.secretRef.key }}
        key: {{ $backendConfig.gcpCredentials.credentialsFile.secretRef.key }}
        {{- end }}
  {{- else if $backendConfig.useEnvVars }}
  type: APIKey
  apiKey:
    secretRef:
      name: {{ $backendConfig.envSecretRef.name }}
  {{- else }}
  type: APIKey
  apiKey:
    secretRef:
      name: {{ $backendConfig.apiKeySecretRef.name }}
      key: {{ $backendConfig.apiKeySecretRef.key }}
  {{- end }}
{{- end }}