{{- range $backendName, $backendConfig := .Values.backends }}
---
apiVersion: aigateway.envoyproxy.io/v1alpha1
kind: BackendSecurityPolicy
metadata:
  name: {{ $backendName }}-apikey
spec:
  targetRefs:
    - group: aigateway.envoyproxy.io
      kind: AIServiceBackend
      name: {{ $backendConfig.resourceName }}
  type: APIKey
  apiKey:
    secretRef:
      name: {{ $backendConfig.apiKeySecret }}
{{- end }}