{{- if .Values.tokenRateLimitPolicy.enabled }}
---
apiVersion: kuadrant.io/v1alpha1
kind: TokenRateLimitPolicy
metadata:
  name: {{ .Values.tokenRateLimitPolicy.name | default "global-token-ratelimit" }}
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: {{ .Values.tokenRateLimitPolicy.target.kind }}
    name: {{ .Values.tokenRateLimitPolicy.target.name }}
  limits:
    {{- range $name, $cfg := .Values.tokenRateLimitPolicy.limits }}
    {{ $name }}:
      rates:
        - limit: {{ $cfg.tokens }}
          window: {{ $cfg.window }}
      counters:
        - expression: {{ $.Values.tokenRateLimitPolicy.counter.expression | quote }}
    {{- end }}
{{- end }}
