# Global values
global:
  namespace: lightbridge
  imagePullPolicy: IfNotPresent

# Sub-chart overrides
lightbridge-authz:
  enabled: true
  app-template:
    enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/franck-sorel/lightbridge-authz
            tag: latest
  service:
    main:
      ports:
        http:
          port: 80

lightbridge-config:
  enabled: false
  tlsPolicies:
    google:
      enabled: true
      validation:
        certSecret: "google-tls-cert" 
    openai:
      enabled: true
      validation:
        certSecret: "openai-tls-cert"
  providers:
    lightbridge-authz:
      providers:
        lightbridge-authz: true
  clientTraffic:
    enabled: true
    targetRef:
      group: gateway.networking.k8s.io
      kind: Gateway
      name: eg  # Replace with your actual Gateway name
    enableProxyProtocol: true
    tcpKeepalive:
      idleTime: 10s
      interval: 5s
      probes: 3