# Global values
global:
  namespace: lightbridge
  imagePullPolicy: IfNotPresent

# Sub-chart overrides
lightbridge-authz:
  enabled: true
  replicaCount: 1
  image:
    repository: adorsys/lightbridge-authz
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80

lightbridge-config:
  enabled: true
  replicaCount: 1
  image:
    repository: adorsys/lightbridge-config
    tag: latest
    pullPolicy: IfNotPresent
  configData:
    exampleKey: exampleValue  # override default config if needed
